input, select {
    padding: 6px;
    font-size: inherit;
}

.collapsible-title {
    padding: 6px;
}

.Collapsible__trigger {
    width: 100%;
    color: white;
    background-color: #5b6aa0
}

.control-label {
    color: cadetblue;
}